
<html>
<head>
    <title>#TrouveTARéponse</title>
    <style>

    </style>
</head>

<body>
    T'a reponse n'est pas encore disponible elle sera à cette url: <a href=answer/<%= URIFind %>>localhost/answer/<%= URIFind %>/</a>
    <br>
    <br>
</body>
</html>

