
<html>
<head>
    <title>Ma todolist</title>
    <style>

    </style>
</head>

<body>
<h1>Générateur de réponse !</h1>

<form action="/Question" method="post">
    <p>
        <label>Quel est votre prénom ?</label>
        <input type="text" name="name" id="name" autofocus />
        <label>Quel est votre question ?</label>
        <input type="text" name="question" id="question" autofocus />
        <input type="submit" name="Bouton" />
    </p>
</form>
</body>
</html>

