doctype html
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src='/scripts/script.js')


    title= title
    //link(rel='stylesheet', href='/css/style.css')

  body
    block content
