<html>
<head>
    <title>Liste Question</title>
</head>

<body>

<ul>
    <% listeQuestion.forEach(function(question) { %>
    <li><%= question.name %> - <%= question.question%></li>
    <% }); %>
</ul>



</ul>
</p>
</body>
</html>

