body {
    background-image: url(../images/Question2.jpg);
}

h1{
    text-align: center;
}

form{
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: aliceblue;
}
.center-div {
    margin: 0 auto;
    width: 100%;
}
